body {
    background-color: Cornsilk;
}

#header-links {
    background-color: BurlyWood;
    padding: 10px;
}

h1 {
    color: CornflowerBlue;
}

table {
    border-collapse: collapse;
}

th {
    border-bottom: 2px solid BurlyWood;
}

th,td {
    border-left: 2px solid BurlyWood;
    padding-right: 10px;
    padding-left: 10px;
}

th:first-child, td:first-child {
    border-left: 0px;
}

tr:nth-child(even) {
    background: #f2f2f2;
}

th.name {
    width: 200px;
}

td.winner {
    color: DarkOrange;
    font-weight: bold;
}

td.loser {
    color: #cdc5bf;
}
